{% extends 'base_generic.html' %}

{% block content %}

    <div class="gradient">
        <div class="container">
            <h1 class="course-card-heading"> Full Course List</h1>
            <h2 class="text-center">Select from our available courses below.</h2>
            <p class="someinfo">You can add, remove courses from your list at any time.<br> Feel free to create your own curriculum.  </p>
            <div class="row">
                {% if course_list %}
                    {% for course in course_list %}
                        <div class="col-lg-8 offset-lg-2">                                
                            <div class="card-main">
                                <div class="course-card-title">
                                    <h4 class="ccdt">{{course.title}}</h4>
                                    <a href="{% url 'lesson' course.id %}" class="button button--secondary" style="text-decoration: none;">View Course</a></p>
                                    
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'add-course-to-list' course.id %}" class="button button--optional" style="text-decoration: none;">Add to List!</a>
                                    {% endif %}
                                </div>
                                <p class="course-card-summary">{{course.summary}}</p>
                             
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There are no courses in the site.</p>
               {% endif %}
            </div>
        </div>
    </div>

{% endblock %}