{% extends "base_generic.html" %}
{% load static %}

{% block content %}


<div class="gradient">
    <div class="container">
        <div class="row">
            
                <div class="cotitle">
                    <h1 class="ctitle"> {{lessons.title}} </h1>
                    <div class="sum">
                        <h2 class="sum_h">Overview</h2>
                        <p class="sum_p"> {{lessons.text}} </p>
                    </div>
                                      
                    <div class="card-main">

                       

                        <div class="top-bar">
        
                            <button class="btn" id="prev-page">
                                <i class="fas fa-arrow-circle-left"></i> Prev Page
                            </button>
                            <input type="number" value="1" id="current_page">
                            <button class="btn" id="next-page">
                                Next Page <i class="fas fa-arrow-circle-right"></i>
                            </button>
                    
                            <span class="page-info">
                                page <span id="page-num"></span> of <span id="page-count"></span>
                            </span>
                    
                        </div>
                        
                        <canvas id="pdf-render"></canvas>

                    </div>
                </div>
            
        </div>

        <div class="text-center">
            <h3><strong>Additional Resources</strong></h3>
            <h4><p><a href="#">First source</a><br>
            <a href="#">Second source</a></p></h4>
        </div>
        
        <div class="text-center">
            {% if lessons.order > 1 %}
                <a class="button button--secondary" style="text-decoration: none;" href="{% url 'lesson-detail' lessons.pk|add:-1 %}">Previous Lesson</a>
            {% endif %}
            {% if lessons.order < 15 %}
                <a onclick="AddPoints('{{profile.id}}')" class="button button--secondary" style="text-decoration: none;" href="{% url 'lesson-detail' lessons.pk|add:1 %}">Next Lesson</a>
            {% endif %}
            {% if lessons.order == 15 %}
                <a onclick="CompleteCourse('{{profile.id}}','{{lessons.course}}','{{lessons.course.id}}')" class="button button--secondary" style="text-decoration: none;" href="{% url 'view-profile' %}">Complete Course</a>
            {% endif %}  
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript">

    function AddPoints(profile) {
        var csrftoken = Cookies.get('csrftoken');
        var xhttp = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8000/points/';
        
        xhttp.open("PUT", url + profile.toString(), false);
        xhttp.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhttp.setRequestHeader("X-CSRFToken", csrftoken);
        var data = JSON.stringify({
            "profile": profile
        });
        xhttp.send(data);
    }
</script>

<script type="text/javascript">

    function CompleteCourse(profile, course, cid) {
        var csrftoken = Cookies.get('csrftoken');
        var xhttp = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8000/cocourse/';

        xhttp.open("PUT", url + profile.toString(), false);
        xhttp.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhttp.setRequestHeader("X-CSRFToken", csrftoken);
        var data = JSON.stringify({
            "profile": profile,
            "course": course,
            "cid": cid,
        });
        xhttp.send(data);
    }


</script>


<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script>
    const url = '../{{lessons.arxeio}}'

    console.log(url)

    let pdfDoc = null,
        pageNum = 1,
        pageIsRendering = false,
        pageNumIsPending = null;

    const scale = 1.45,
        canvas = document.querySelector('#pdf-render'),
        ctx = canvas.getContext('2d');

    const renderPage = num => {
        pageIsRendering = true;

        pdfDoc.getPage(num).then(page => {
            
            const viewport = page.getViewport({ scale });
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            const renderCtx = {
                canvasContext: ctx,
                viewport
            }

            page.render(renderCtx).promise.then(() => {
                pageIsRendering = false;

                if(pageNumIsPending != null){
                    renderPage(pageNumIsPending);
                    pageNumIsPending = null;  
                }     
            });

            document.querySelector('#page-num').textContent = num;
        });
    };

    const queueRenderPage = num => {
        if(pageIsRendering) {
            pageNumIsPending = num;
        } else {
            renderPage(num);
        }
    }

    const showPrevPage = () => {
        if(pageNum <= 1) {
            return;
        }
        pageNum--;
        queueRenderPage(pageNum);
    }

    const showNextPage = () => {
        if(pageNum >= pdfDoc.numPages) {
            return;
        }
        pageNum++;
        queueRenderPage(pageNum);
    }

    pdfjsLib.getDocument(url).promise.then(pdfDoc_ => {
        pdfDoc = pdfDoc_;
    

        document.querySelector('#page-count').textContent = pdfDoc.numPages;

        renderPage(pageNum)
    });

    document.querySelector('#prev-page').addEventListener('click',showPrevPage);
    document.querySelector('#next-page').addEventListener('click',showNextPage);
</script>




{% endblock %}


