{% extends "base_generic.html" %}

{% block content %}  
<div class="container">
    <div class="text-center">
        <h1>{{course.title}}</h1>
    
    </div>
</div>


    <div>
        {% if lessons_list %}
            {% for lessons in lessons_list %}

                    <div class="jumbotron container">
                        <h3>
                            <a href="{% url 'lesson-detail' lessons.pk %}">{{lessons.title}} </a>
                        </h3>
                    </div>
                
            {% endfor %}

        {% endif %}   
        <div class="text-center"> 
            <button class="btn btn-outline-dark btn-lg" type="button">Start this Course</button>   
        </div>   
    </div>

{% endblock %}




