{% extends 'base_generic.html' %}
{% load pinax_points_tags %}


{% block content %}

<title>Profile</title>
<div class="container">
    <h1 class="course-card-heading"> My Profile Page</h1>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">                                
            <div class="card-main">
                <div class="profinfo">
                    <p><b>Username:</b> {{user}}</p>
                    <p><b>First Name:</b> {{user.first_name}}</p>
                    <p><b>Last Name:</b> {{user.last_name}}</p>
                    <p><b>Email:</b> {{user.email}}</p>
                </div>
                <div class="kentro">
                    <a class="btn btn-primary" href="{% url 'edit-profile' %}">Edit my profile page. </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="text-center">                            
                <div class="card-main">        
                    <h2>Experience gained<i class="fa fa-star"></i></h2> 
                    <div class="bar-5">
                        <div class="text-center">
                            {{mypoints}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}