{% extends 'base_generic.html' %}


{% block content %}

<title>Profile</title>
<div class="container">
    <h1 class="course-card-heading"> My Profile Page</h1>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">                                
            <div class="card-main">
                <div class="course-card-title">
                    <p>Username: <br>{{user}}</p>
                    <p>First Name: <br>{{user.first_name}}</p>
                    <p>Last Name: <br>{{user.last_name}}</p>
                    <p>Email: <br>{{user.email}}</p>
                </div>
                <div class="kentro">
                    <a class="btn btn-primary" href="{% url 'edit-profile' %}">Edit my profile page. </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">                                
            <div class="card-main">        
                <h2>Experience gained<i class="fa fa-star"></i></h2> 
                <div class="bar-5">
                    <div class="text-center">
                        {{myexp}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}