{% extends "base_generic.html" %}

{% block content %}
  
  <div class="container">
    <h1 class="course-card-heading">Our Teachers</h1>
    <div class="row">
      {% if teacher_list %}
        {% for teacher in teacher_list %}
          <div class="col-lg-8 offset-lg-2">                                
            <div class="card-main">
              <a href="{{ teacher.get_absolute_url }}">{{ teacher.last_name }} {{ teacher.first_name }}</a>     
            </div>       
          </div>
        {% endfor %}
      {% else %}
        <p>There are no courses in the site.</p>
      {% endif %}
    </div>  
  </div>

{% endblock %}